<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="description" content="随访系统">  
<meta name="keywords" content="随访系统">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>随访系统</title> 
<link rel="icon" href=" " type="image/x-icon">
<link rel="stylesheet" href="$!{basePath}/login_reg_files/jquery-ui-1.10.0.custom.min.css">
<link rel="stylesheet" href="$!{basePath}/login_reg_files/newlogin.css"><style>
 body
        {
            background-image: url('$!{basePath}/img/ycbldydl.png');
            background-repeat: no-repeat;
            font-family: "Trebuchet MS" , "Helvetica" , "Arial" , "Verdana" , "sans-serif";
            font-size: 70%;
        }
.rightWrap .user_name, .rightWrap .input_code {
	min-width: 260px;
}
.wrapper{
	min-width: inherit;
}
.rightWrap .input_tel_code{
 display:block;
  height: 42px;
  line-height: 42px;
  border: 1px solid #ddd;;
  border-radius: 4px;
  font-size: 16px;
  padding: 0 10px;
  width:150px;
  color: #343D47;
  background:#fff;
  margin-top:20px;
}

.rightWrap .input_tel_code:focus{
  border-color:#5796ff!important;
}
</style>
<script>
var serverroot = "$!{basePath}";
</script>
<script type="text/javascript" src="$!{basePath}/login_reg_files/jquery-1.7.2.min.js "></script>
<script type="text/javascript" src="$!{basePath}/login_reg_files/jquery.cookie.min.js "></script>
<script type="text/javascript" src="$!{basePath}/login_reg_files/jquery.deparam.js "></script>
<script type="text/javascript" src="$!{basePath}/login_reg_files/patientlogin.js "></script>
<script type="text/javascript" src="$!{basePath}/script/doctorLogin.js "></script>
 
</head>
<body>
	<div class="wrapper">
		<div class="left_img" ><img alt="" src="$!{basePath}/img/logo_login.png" /></div>
	    
		<div class="right_content" style="background-color: #fff;">
			
		    <div class="rightWrap">
		    	<ul class="login_tab">
			    	<li class="active"><a href="javascript:;">医护登录</a></li>
			    	<li><a href="javascript:;">病人登录</a></li>
			    </ul>
		    
			   <!-- 医护登录 -->
			   
			   <div class="code_login">
			   <form id="loginForm" class="ui-buttonset" action="$!{basePath}/system/checkDoctorLogin.html" 

method="post">
				      <input class="user_name" type="text" id="signin-username" placeholder="用户名" checktype="user_name" 

maxlength="16" name="username">
				      <input class="input_code" type="password" id="signin-password" placeholder="密码" 

checktype="password" maxlength="16" name="password">
				       <div class="forgetPsw">
                         <div class="clear" style="float:left;margin-left:-8px;">
                           				<label class="checkbox"> 
				<input type="checkbox" id="rememberme" name="rememberme"  onchange="javascript:setCheckbox(this);" />下次自

动登录 </label>
                         </div>
				       	<a href="javascript:;" class="loginforgetpsw" style="float:right;">忘记密码&gt;&gt;</a>
				       	</div>
				       	<button id="signin-btn" type="submit" title="提交" class="login">登 录</button>
				   	</form>
			   </div>
			   <!-- 病人登录 -->
			   <div class="general_login login-tel-success" style="display: none;">
				   	<form id="loginForm2" class="ui-buttonset" action="$!{basePath}/system/checkPatientLogin.html" 

method="post">
				      <input class="user_name" type="text" id="patname" placeholder="病人姓名" checktype="patname" 

maxlength="16" name="patname">
				      <input class="input_code" type="password" id="visitno" placeholder="住院号" 

checktype="visitno" maxlength="16" name="visitno">
				       
				      <button id="signin-btn2" type="submit" title="提交" class="login">登 录</button>
				   	</form>
			   </div>
			  
			    
			    <div class="right_bottom">
			    	
			    </div>
			</div>
		</div>
	</div>
	<div id="cli_dialog_div"></div>
	<div id="cover"></div>
	<div class="showTips showPswTips">
	     <div class="tipstitle"><p>找回密码</p></div>
	     <p class="tipscontent">请联系客服热线：13545185867,重新设置密码。</p>
	     <a href="javascript:void(0);" class="confirmtips">确定</a>
	</div>
	

<script type="text/javascript">
 
$(".tel-verification-code").on('click',function(){
	$('.tel-verification-code').attr('disabled',true);
	$('.tel-verification-code').css('background', 'rgb(161, 161, 161)');
	//verificationCode();
});

</script>

 
<script>
/*第一次读取最新通知*/
  setTimeout(function() {
            // Push();
           },
        200);
      /*30轮询读取函数*/
        setInterval(function() {
           // Push();
    },
        3000);

/*请求函数的ajax*/

function Push() {
	 	var uuid = $("#uuid").val();
	 	//$('#addOrUpdateModal .modal-body').html(""); 
		jQuery.ajax({
	      url: serverroot+"/qrLogin/getUUID.html",
	      cache: false,
	      data:{
	      	 uuid:uuid
	      },
		  dataType: "json",
		  type:"post",
			success : function(data){
				if(data.success){	
				$("#tip").text("正在登录验证中，请稍候！");	
					 window.location.href=serverroot+"/qrLogin/autoLogin.html?uuid="+uuid;
				}else{
					
				}
			},  
	        error: function(data, status, e){  
	        $("#tip").text("验证失败，请刷新网页，重新在试！");
	       }
	    });
}
if(self!=top) top.location=self.location
</script>
</body></html>
