<!DOCTYPE html>
<!--headTrap<body></body><head></head><html></html>--><html>
    <head>
        <meta http-equiv=Content-Type content="text/html;charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
        <title>成功登录</title>
        

<link   rel="stylesheet" type="text/css" href="$!{basePath}/content/jlb/css/weui.min.css"/>
<link  rel="stylesheet" type="text/css" href="$!{basePath}/content/jlb/css/w_safe3301b4.css"/>

    </head>
    <body class="zh_CN " ontouchstart="">
        
        
	<div class="page_msg_t js_msg">
	    <i class="icon_msg success"></i>
	    <div class="text_area_t">
			<div class="text">
				<h1 class="title">已成功登录</h1>
							</div>
	    </div>
	</div>
  
	<div class="page_msg_t js_msg" style="display: none;">
	    <i class="icon_msg success"></i>
	    <div class="text_area_t">
			<div class="text">
				<h1 class="title">注销用户成功</h1>
							</div>
	    </div>
	</div>
<div id="js_cancel_box" class="page_msg_t js_msg" style="display: none;">
	<i class="icon_msg warn"></i>
	<div class="text_area_t">
		<div class="text">
			<h1 class="title">已取消大悟视界<br>本次登录操作</h1>
		</div>
	</div>
</div>
<div id="js_apply_box" class="page_msg_t js_msg" style="display: none;">
	<i class="icon_msg success"></i>
	<div class="text_area_t">
		<div class="text">
			<h1 class="title">已发送大悟视界<br>登录申请</h1>
		</div>
	</div>
</div>
<div id="js_success_box" class="weui-msg js_msg" style="display: none;">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
	<div class="weui-msg__text-area">
        <h1 class="weui-msg__title">已确认登录公众号</h1>
	</div>
</div>

  

    </body>
</html>
<!--tailTrap<body></body><head></head><html></html>-->

