<!DOCTYPE html>
<html lang="en">
<head>
    <title>随访列表</title> 
	<meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta charset="UTF-8"> 
  <link rel="stylesheet" href="$!{basePath}/css/ele_ui.css">
       <script src="$!{basePath}/script/polyfill.min.js"></script>
     <script src="$!{basePath}/script/qs.js"></script>
  <script>
  	var expTotal=#if($!{pageInfosExp.totalItem})$!{pageInfosExp.totalItem}#else 0 #end;
  	  	var toDoTotal=#if($!{pageInfosToDo.totalItem})$!{pageInfosToDo.totalItem}#else 0 #end;
      var pageInfosExp=[];
	  		#if($!{pageInfosExp})
				 #foreach($!{info} in $!{pageInfosExp}) 		
					var info={};
    				info.recordExtend2="$!{info.recordExtend2}";
    				info.recordExtend1=#if($!{info.recordExtend1})$!{info.recordExtend1}#else[]#end;
    				info.templateViewId="$!{info.templateViewId}";
    				info.medicId="$!{info.medicId}";
    				info.medicName="$!{info.medicName}";
    				info.medicPhone="$!{info.medicPhone}";
    				info.updateUserName="$!{info.updateUserName}";
    				info.updateUserId="$!{info.updateUserId}";
    				#if($!{info.updateTime})
					info.updateTime={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.updateTime})').getTime()};
					#else
    				info.updateTime={};
    				#end
    				info.createUserName="$!{info.createUserName}";
    				info.createUserId="$!{info.createUserId}";
    				#if($!{info.createTime})
					info.createTime={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.createTime})').getTime()};
					#else
					info.createTime={};
    				#end
    				info.subjectName="$!{info.subjectName}";
    				info.stopReason="$!{info.stopReason}";
    				info.subTemplateName="$!{info.subTemplateName}";
    				info.cancelReminder="$!{info.cancelReminder}";
    				#if($!{info.actualVisitDate})
					info.actualVisitDate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.actualVisitDate})').getTime()};
					#else
    				info.actualVisitDate={};
					#end
    				#if($!{info.endVisitDate})
					info.endVisitDate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.endVisitDate})').getTime()};
					#else    				
					info.endVisitDate={};
					#end
    				#if($!{info.beginVisitDate})
					info.beginVisitDate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.beginVisitDate})').getTime()};
					#else
    				info.beginVisitDate={};
    				#end
    				#if($!{info.mustVisitDate})
					info.mustVisitDate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.mustVisitDate})').getTime()};
					#else
    				info.mustVisitDate={};
    				#end
    				info.visitOrder="$!{info.visitOrder}";
    				info.visitStatus="$!{info.visitStatus}";
    				info.visitMode="$!{info.visitMode}";
    				info.visitType="$!{info.visitType}";
    				info.patientLinktel="$!{info.patientLinktel}";
    				info.title="$!{info.title}";
    				info.patientMainDoctor="$!{info.patientMainDoctor}";
					info.patientCardid="$!{info.patientCardid}";
					
					#if($!{info.patientOutdate})
					info.patientOutdate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.patientOutdate})').getTime()};
					#else
    				info.patientOutdate={};
    				#end 
					
					#if($!{info.patientIndate})
					info.patientIndate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.patientIndate})').getTime()};
					#else
    				info.patientIndate={};
    				#end 
					info.patientOutDiagnose="$!{info.patientOutDiagnose}";
					info.patientInDiagnose="$!{info.patientInDiagnose}";
					info.patientOffice="$!{info.patientOffice}";
					info.patientAddress="$!{info.patientAddress}";
					#if($!{info.patientBirthday})
					info.patientBirthday={'time':new Date('$!dateTool.format("yyyy/MM/dd",$!{info.patientBirthday})').getTime()};
					#else
					info.patientBirthday={};
					#end
					info.patientMarriage="$!{info.patientMarriage}";
					info.patientSex="$!{info.patientSex}";
					info.patientName="$!{info.patientName}";
					info.patientId="$!{info.patientId}";
					info.rid="$!{info.rid}";
					pageInfosExp.push(info)
	             #end
	    	 #end
	    	 
	    	       var pageInfosToDo=[];
	  		#if($!{pageInfosToDo})
				 #foreach($!{info} in $!{pageInfosToDo}) 		
					var info={};
    				info.recordExtend2="$!{info.recordExtend2}";
    				info.recordExtend1=#if($!{info.recordExtend1})$!{info.recordExtend1}#else[]#end;
    				info.templateViewId="$!{info.templateViewId}";
    				info.medicId="$!{info.medicId}";
    				info.medicName="$!{info.medicName}";
    				info.medicPhone="$!{info.medicPhone}";
    				info.updateUserName="$!{info.updateUserName}";
    				info.updateUserId="$!{info.updateUserId}";
    				#if($!{info.updateTime})
					info.updateTime={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.updateTime})').getTime()};
					#else
    				info.updateTime={};
    				#end
    				info.createUserName="$!{info.createUserName}";
    				info.createUserId="$!{info.createUserId}";
    				#if($!{info.createTime})
					info.createTime={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.createTime})').getTime()};
					#else
					info.createTime={};
    				#end
    				info.subjectName="$!{info.subjectName}";
    				info.stopReason="$!{info.stopReason}";
    				info.subTemplateName="$!{info.subTemplateName}";
    				info.cancelReminder="$!{info.cancelReminder}";
    				#if($!{info.actualVisitDate})
					info.actualVisitDate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.actualVisitDate})').getTime()};
					#else
    				info.actualVisitDate={};
					#end
    				#if($!{info.endVisitDate})
					info.endVisitDate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.endVisitDate})').getTime()};
					#else    				
					info.endVisitDate={};
					#end
    				#if($!{info.beginVisitDate})
					info.beginVisitDate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.beginVisitDate})').getTime()};
					#else
    				info.beginVisitDate={};
    				#end
    				#if($!{info.mustVisitDate})
					info.mustVisitDate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.mustVisitDate})').getTime()};
					#else
    				info.mustVisitDate={};
    				#end
    				info.visitOrder="$!{info.visitOrder}";
    				info.visitStatus="$!{info.visitStatus}";
    				info.visitMode="$!{info.visitMode}";
    				info.visitType="$!{info.visitType}";
    				info.patientLinktel="$!{info.patientLinktel}";
    				info.title="$!{info.title}";
    				info.patientMainDoctor="$!{info.patientMainDoctor}";
					info.patientCardid="$!{info.patientCardid}";
					
					#if($!{info.patientOutdate})
					info.patientOutdate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.patientOutdate})').getTime()};
					#else
    				info.patientOutdate={};
    				#end 
					
					#if($!{info.patientIndate})
					info.patientIndate={'time':new Date('$!dateTool.format("yyyy/MM/dd HH:mm:ss",$!{info.patientIndate})').getTime()};
					#else
    				info.patientIndate={};
    				#end 
					info.patientOutDiagnose="$!{info.patientOutDiagnose}";
					info.patientInDiagnose="$!{info.patientInDiagnose}";
					info.patientOffice="$!{info.patientOffice}";
					info.patientAddress="$!{info.patientAddress}";
					#if($!{info.patientBirthday})
					info.patientBirthday={'time':new Date('$!dateTool.format("yyyy/MM/dd",$!{info.patientBirthday})').getTime()};
					#else
					info.patientBirthday={};
					#end
					info.patientMarriage="$!{info.patientMarriage}";
					info.patientSex="$!{info.patientSex}";
					info.patientName="$!{info.patientName}";
					info.patientId="$!{info.patientId}";
					info.rid="$!{info.rid}";
					pageInfosToDo.push(info)
	             #end
	    	 #end
  </script>
</head>
<style>
body{
 color: #606266;
}
   a ,  a:active ,  a:visited{
display:none;
}
  .el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 220px;
    min-height: 400px;
  }
  
</style>
<style>
 


</style>
<body>
						<div id="app">
							
							<el-card class="box-card"  style="height:220px;">
							  <div slot="header" class="clearfix"> 
								<el-badge :value="expTotal" class="item">
								  <el-button size="small">已逾期</el-button>
								</el-badge>
							    <el-button style="float: right; padding: 3px 0" type="text">刷新</el-button>
							    <el-button style="float: right; padding: 3px 0" type="text">更多</el-button>
							  </div>
							  <div v-for="o in pageInfosExp"  class="text item">
							    {{o.patientName }}
							  </div>
							</el-card>

							<el-card class="box-card" style="margin-top:10px;height:220px;">
							  <div slot="header" class="clearfix"> 
								<el-badge :value="toDoTotal" class="item">
								  <el-button size="small">待随访</el-button>
								</el-badge>
							    <el-button style="float: right; padding: 3px 0" type="text">刷新</el-button>
							    <el-button style="float: right; padding: 3px 0" type="text">更多</el-button>
							  </div>
							  <div v-for="o in pageInfosToDo"   class="text item">
							    {{o.patientName }}
							  </div>
							</el-card>
						</div>
					</body>
 <script src="$!{basePath}/script/vue.js"></script>
    <script src="$!{basePath}/script/axios.min.js"></script>
  <!-- 引入组件库 -->
  <script src="$!{basePath}/script/ele_ui.js"></script>

  <script>   
   axios.interceptors.request.use(function(request){
  if (request.data && (request.headers['Content-Type'].indexOf('application/x-www-form-urlencoded') !== -1)) {
    request.data = Qs.stringify(request.data);
    console.log(request.data);
  }
  return request
});
    new Vue({
      el: '#app',
	      methods: {
	  dateFormat:function(row, column) {  
      		var date = row[column.property];  
      		//console.log(date);
          if (null == date || date == {} || undefined == date.time || null == date.time || date.time=='' ) {  
             return "";  
          }   
         // console.log(date.time);
          return (new Date(date.time)).Format("yyyy-MM-dd");  
      },
      timeFormat:function(str) { 
      //console.log(str);   
          if (null == str || {} == str  || undefined == str.time || str.time=='' ) {  
             return "";  
          } 
           return (new Date(str.time)).Format("yyyy-MM-dd"); 
      }
      ,    
       getTableData:function(){
       this.loading=true;
       console.log(this.currentPage4);
       console.log(this.pageSize);
       var that = this ;
          console.log(this.ruleForm);
                    axios({
						method: 'post',
						url: that.getUrl, 
						 headers: {
						    'Content-Type': 'application/x-www-form-urlencoded;charset=UTF-8'
						  },
						data: {
							patientName: that.ruleForm.patientName,
							patientOffice: that.ruleForm.patientOffice,
							pageNo:that.currentPage4,
							pageSize:that.pageSize,
							visitStatus:that.ruleForm.visitStatus,
							patientId:that.ruleForm.patientId,
							beginVisitDate:that.ruleForm.beginVisitDate,
							endVisitDate:that.ruleForm.endVisitDate
						}
					}).then(function (response) {
						console.log(response);
						that.tableData3=response.data.data;
						that.total= response.data.total;
						that.pageSize=response.data.pageSize;
						that.currentPage4=response.data.pageNo;
						console.log(that.tableData3);
						console.log(that.total);
						console.log(that.pageSize);
						that.loading=false;
					}).catch(function (error) {
						console.log(error);
						 that.loading=false;
					});
        }
	   ,
       
    },
      data: function() {
        return {  
            getUrl: '$!{basePath}/visitRecord/back/pvRecord/getMyList.html',
            updateUrl:'$!{basePath}/visitRecord/back/pvRecord/doEdit.html',
            deleteUrl:'$!{basePath}/visitRecord/back/pvRecord/doDelete.html',
			radio:'-1',  
			formLabelWidth: '120px',
		pageInfosToDo:pageInfosToDo,
		pageInfosExp:pageInfosExp,
		expTotal:expTotal,
		toDoTotal:toDoTotal, 
        pageSize:10,
		dialogTableVisible:false,
		isCollapse: false, 
		cancelForm:{stopReason: ''},
		loading:false,
        rules: {
          patientName: [
            { required: false, message: '请输入病人住院号', trigger: 'blur' },
            { min: 3, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
          ],
          patientOffice: [
            { required: false, message: '请选择活动区域', trigger: 'change' }
          ],
          stopReason: [
            { required: true, message: '请选择终止原因', trigger: 'change' }
          ]
        }
		}
      }
    })
  </script>
</html>
